<header>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
    rel="stylesheet"
  />
  <div class="horizontal-flow">
    <h1 class="press-start-2p-regular"><a href="/">Byte-Sized Donuts</a></h1>
    <h4 class="roboto-mono">
      Powered by code, fueled by donuts. Built to debug hunger one byte at a
      time.
    </h4>
  </div>
</header>
